body{
    background-color: bisque;
}
#todo-container{
    border: 1px solid palevioletred;
    width: 30%;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    justify-content: space-evenly;
    margin: 20px;
    text-align: center;

}

#input-container{
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
}
