#todo{
    background-color:pink;
    border-radius:2px;
    border:  2px solid  brown;
    padding: 10px;
    margin: 2px;
    text-align: center;
}
#addTodo{
    background-color: bisque;
    border:  2px solid brown;
    border-radius: 2px ;
    padding: 10px;
    margin: 2px;
    text-align:center;
    justify-content: space-between;
}
